
ai_assistant/.env
ai_assistant/.env.*
ai_assistant/venv/
# Archives & Dumps
# Build assets
# Cache & Sessions
# Dependencies
.env
.env.*
!.env.example
# Environment
.fleet/
# IDE
.idea/
# Misc
/node_modules
node_modules.zip
.phpunit.cache
.phpunit.result.cache
/public/build
/public/hot
/public/storage
public.zip
*.pyc
__pycache__/
# Python
*.sql
***REMOVED***.sql
starlite.sql
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
*.swo
*.swp
*.tar.gz
# Testing
*.tgz
themify-icons-1.0.0.tgz
/vendor
.vscode/
*.zip
